<!--@subject TaxInvoice Information - {{var name}}  @-->

{{template config_path="design/email/header_template"}}
<div>
    <label for="name">Name :</label> {{var name}}
</div>
<br>
<div>
    <label for="email">Email :</label> {{var email}}
</div>
<br>
<div>
    <label for="c_sname">Company/Shop Name :</label> {{var c_sname}}
</div>
<br>
<div>
    <label for="taxidentificationNumber"> Tax Identification Number :</label> {{var taxidentificationNumber}}
</div>
<br>
<div>
    <label for="address">Address :</label> {{var address}}
</div>
<br>
<div>
    <label for="receiptNumber">Receipt Number :</label> {{var receiptNumber}}
</div>
<br>
<div>
    <label for="note"> Note :</label> {{var note}}
</div>

</td>
</tr>
<tr>
    <td class="footer">
        <p class="closing">{{trans "Thank you, %store_name" store_name=$store.frontend_name}}!</p>
    </td>
</tr>
</table>
</td>
</tr>
</table>
<!-- End wrapper table -->
</body>
