<!--@subject Product Inquiry Information - {{var name}}  @-->

{{template config_path="design/email/header_template"}}
<div>
    <label>Name :</label> {{var name}}
</div>
<br>
<div>
    <label>Email :</label> {{var email}}
</div>
<br>
<div>
    <label>Product Name :</label> {{var productname}}
</div>
<br>
<div>
    <label>Product SKU :</label> {{var productsku}}
</div>
<br>
<div>
    <label>Inquiry :</label> {{var inquiry}}
</div>

{{trans "Thank you, %store_name" store_name=$store.frontend_name}}
