<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="elsnertech_login" translate="label" sortOrder="1000">
            <label>Elsnertech</label>
        </tab>
        <section id="cmsConfig" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>CMS Page Config</label>
            <tab>elsnertech_login</tab>
            <resource>Elsnertech_PaySlip::general</resource>

            <group id="mainConfigPayslip" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Pay Slip Page</label>
                <field id="email" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email</label>
                </field>
                <field id="payslip_image" translate="label comment" type="image" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Select Image</label>
                    <backend_model>Elsnertech\PaySlip\Model\Config\Backend\Image</backend_model>
                    <base_url type="media" scope_info="1">theme</base_url>
                </field>
            </group>
        </section>
        <!-- <section id="payslip_banner" translate="label" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Pay Slip Page</label>
            <tab>elsnertech</tab>
            <resource>Elsnertech_PaySlip::general</resource>
             <group id="mainConfigpayslip" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Pay Slip Page config </label>
                  <field id="payslip_image" translate="label comment" type="image" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Select Image</label>
                    <backend_model>Elsnertech\PaySlip\Model\Config\Backend\Image</backend_model>
                    <base_url type="media" scope_info="1">theme</base_url>
                </field>
            </group>
        </section>     -->
    </system>
</config>

