<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    	<add id="Elsnertech_Homeslider::manager" title="Slider Manager" module="Elsnertech_Homeslider" sortOrder="10" resource="Elsnertech_Homeslider::manager"/>
    	<add id="Elsnertech_Homeslider::add_row" title="Desktop slider Manager" module="Elsnertech_Homeslider" sortOrder="20" parent="Elsnertech_Homeslider::manager" action="homeslider/homeslider" resource="Elsnertech_Homeslider::add_row"/>
    </menu>
</config>