<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <preference for="Mirasvit\LayeredNavigation\Block\Renderer\SwatchRenderer" type="Elsnertech\Customisation\Block\LayeredNavigation\SwatchRenderer" />
    <preference for="Magento\Customer\Controller\Address\FormPost" type="Elsnertech\Customisation\Controller\Address\FormPost" />

    <!-- <type name="Magento\Customer\Controller\Address\FormPost">
      <plugin name="formplug" type="Elsnertech\Customisation\Plugin\FormPost" sortOrder="1"/>
   </type> -->
</config>