<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <preference for="Mirasvit\LayeredNavigation\Block\Renderer\SwatchRenderer" type="Elsnertech\Customisation\Block\LayeredNavigation\SwatchRenderer" />
    <preference for="Magento\Customer\Controller\Address\FormPost" type="Elsnertech\Customisation\Controller\Address\FormPost" />

    <preference for="Magento\Theme\Block\Html\Topmenu" type="Elsnertech\Customisation\Plugin\Topmenu" />
   <preference for="Magento\Catalog\Model\Product\Url"  type="Elsnertech\Customisation\Model\Url" />
    <type name="Magento\UrlRewrite\Controller\Router">
        <plugin name="aroundMatch" type="Elsnertech\Customisation\Controller\RouterData" sortOrder="10" disabled="false"/>
    </type> 
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
       <arguments>
           <argument name="configProviders" xsi:type="array">
               <item name="cms_block_config_provider" xsi:type="object">Elsnertech\Customisation\Model\ConfigProvider</item>
           </argument>
       </arguments>
   </type>
   <type name="Elsnertech\Customisation\Model\ConfigProvider">
       <arguments>
           <argument name="blockId" xsi:type="string">checkout_cms_block</argument>
       </arguments>
   </type>   
    
</config>