<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Meetanshi_SMTP::smtp" title="Meetanshi SMTP" module="Meetanshi_SMTP" sortOrder="45" resource="Meetanshi_SMTP::smtp" parent="Magento_Backend::stores"/>
        <add id="Meetanshi_SMTP::log" title="SMTP Email Logs" module="Meetanshi_SMTP" sortOrder="20" resource="Meetanshi_SMTP::log" parent="Meetanshi_SMTP::smtp" action="mt_smtp/smtp/log"/>
        <add id="Meetanshi_SMTP::config" title="SMTP Config" module="Meetanshi_SMTP" sortOrder="20" resource="Meetanshi_SMTP::config" parent="Meetanshi_SMTP::smtp" action="admin/system_config/edit/section/smtp"/>
    </menu>
</config>
