<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
         <tab id="elsnertech_login" translate="label" sortOrder="1000">
            <label>Elsnertech</label>
         </tab>
        <section id="productinquiry" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Product Inquiry</label>
            <tab>elsnertech_login</tab>
            <resource>Elsnertech_Productinquiry::general</resource>
            <group id="mainConfigProductinquiry" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General</label>
                <field id="email" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email</label>
                </field>
            </group>
        </section>
    </system>
</config>