.catalog-product-view {
    .fotorama-item {
        .fotorama__stage {
            border: 0;
            @media (max-width: @screen__md){
                background-color: @color-5;
            }
        }
    }
    
    main#maincontent {
        padding-top: 45px;

        @media (max-width: @screen__sm) {
            padding: 15px 15px 0;
        }

        .column.main {
            .flex();
        }
    }

    .product.media {
        width: 45%;
        padding-right: 55px;
        float: none;
        order: 1;

        @media (max-width: @screen__sm) {
            width: 100%;
        }
        .product-extra-info-mob{
            position: relative;
            padding-left: 120px;
            @media (max-width: @screen__sm) {
                padding: 0;
            }
            .product-sku {
                border-radius: 4px;
                background: @color-1;
                color: @color-5;
                font-size: 12px;
                padding: 7px 12px;
                line-height: 1.4;
                display: inline-block;
                position: absolute;
                z-index: 800;

                @media (max-width: @screen__sm) {
                    display: inline-block;
                    position: relative;
                }
            }
            .towishlist{
                display: none;
                @media (max-width: @screen__sm) {
                    padding: 5px 6px;
                    display: inline-block;
                    font-size: 0;
                    background: @color-5;
                    position: absolute;
                    right: 0;
                    top: 0;
                    text-align: center;
                    background-image: url(../images/wishlist.svg);
                    border-radius: 6px;
                    background-repeat: no-repeat;
                    background-size: 16px;
                    background-position: center;
                    width: 31px;
                }
                &.added{
                    background-image: url(../images/heart-filled.svg);
                }
            }
        }

        .fotorama-item {
            .fotorama__stage {
                border: 0;
                @media (max-width: @screen__md){
                    background-color: @color-5;
                }
                .fotorama__stage__frame img.zoomImg {
                    width: 100% !important;
                    height: 100% !important;
                }
            }

            .fotorama__fullscreen-icon{
                background-image: url(../images/resize.svg);
                width: 32px;
                height: 32px;
                background-repeat: no-repeat;
                background-size: contain;
                display: block;
                position: absolute;
                z-index: 99999;
                transform: none !important;
                opacity: 1;
                text-align: right;
                right: 0 !important;

                &::before{
                    display: none;
                }
                @media (max-width: @screen__sm){
                    display: none;
                }
            }
            .fotorama__nav-wrap {
                .fotorama__nav__shaft {
                    .fotorama__thumb-border {
                        border-radius: 8px;
                        border-color: @color-1;
                    }
                }
            }
        }
    }

    .product-info-main {
        width: 55%;
        max-width: 900px;
        margin-left: 0;
        float: none;
        order: 2;

        @media (max-width: @screen__sm) {
            width: 100%;
        }

        .page-title-wrapper {
            max-width: 100%;
            .flex();
            .align-items(center);
            margin-bottom: 10px;

            h1.page-title {
                font-size: @font-size_3;
                margin-bottom: 0;
                margin-right: 20px;

                @media (max-width: @screen__md) {
                    font-size: @font-size_5;
                }
            }

            .product-info-stock-sku {
                margin: 0;
                .flex();

                .stock {
                    margin: 0;
                    background: #47b48633;
                    border-radius: 4px;
                    padding: 0px 18px 0 28px;
                    color: #47B486;
                    text-transform: capitalize;
                    position: relative;
                    height: 30px;
                    line-height: 30px;

                    @media (max-width: @screen__sm) {
                        background: @color-6;
                        border-radius: 0;
                        padding: 0 0 0 10px;
                        height: auto;
                        line-height: initial;
                        font-size: 14px;
                        margin-right: 5px;
                    }

                    &::before {
                        content: "";
                        background: #47B486;
                        width: 5px;
                        height: 5px;
                        position: absolute;
                        border-radius: 100%;
                        left: 12px;
                        top: 12px;

                        @media (max-width: @screen__sm) {
                            top: 6px;
                            left: 0;
                        }
                    }
                }
                .configurable-variation-qty{
                    color: @color-1;
                    display: none;
                }
            }
        }

        .product-social-links {
            margin: 0 0 15px;
            border-bottom: 1px solid #0003;
            padding-bottom: 15px;

            @media (max-width: @screen__sm) {
                padding-bottom: 10px;
            }

            .share-links {
                a {
                    border: 0;
                    border-radius: 4px;
                    background: #1877F21C;
                    height: auto;
                    width: auto;
                    padding: 0px 20px;
                    text-indent: 0;
                    line-height: 3;
                    font-weight: 600;
                    font-size: @font-size_7;
                    color: @color-2;

                    @media (max-width: @screen__md) {
                        font-size: 12px;
                        line-height: 2.7;
                    }

                    &::before {
                        position: relative;
                        margin-right: 10px;
                        color: #1877F2;
                    }

                    &.share-twitter {
                        background: #03A9F41C;

                        &::before {
                            color: #03A9F4;
                        }
                    }

                    &.share-facebook{
                        padding-left: 45px;
                        @media (max-width: @screen__md){
                            padding-left: 40px;
                        }
                        &::before{
                            content: "";
                            background-image: url(../images/facebook.svg);
                            width: 17px;
                            height: 17px;
                            min-width: 16px;
                            position: absolute;
                            left: 18px;
                            right: auto;
                            background-size: contain;
                            background-repeat: no-repeat;
                            @media (max-width: @screen__md){
                                width: 15px;
                                height: 15px;
                                left: 15px;
                            }
                        }
                    }
                }
            }
        }

        .product-attribute {
            border-bottom: 1px solid #0003;
            margin-bottom: 20px;
            padding: 0 0 10px;

            @media (max-width: @screen__sm) {
                margin-bottom: 15px;
            }

            p {
                margin-bottom: 3px;

                @media (max-width: @screen__sm) {
                    margin: 0;
                }
            }

            span {
                font-size: @font-size_6;
                line-height: 1.3;
                color: @color-7_dark;

                @media (max-width: @screen__sm) {
                    font-size: 14px;
                    line-height: 1;
                }

                &.attr-label {
                    font-weight: bold;
                    min-width: 100px;
                    display: inline-block;
                    color: @color-2;
                }
            }
        }
        
        .product-info-price{
            .price-box{
                .flex();
                .align-items(center);
            }
            .normal-price {
                margin-right: 12px;
                .price{
                    margin-right: 0;
                }
            }
            .price, .price-wrap {
                margin: 0;
                font-weight: 500;
                color: @color-1;
                font-size: @font-size_3;
                line-height: 1.2;
                margin-right: 12px;
                .flex();
                @media (max-width: @screen__xl) {
                    font-size: @font-size_4;
                }
                @media (max-width: @screen__sm) {
                    font-size: @font-size_5;
                }
                .currecny-symbol {
                    padding-right: 2px;
                }
            }
    
            .old-price, .price-spacial-wrap{
                .flex();
                .align-items(center);
                
                .price, .old-price-wrap {
                    color: @color-9_dark;
                    font-size: @font-size_4;
                    font-weight: 500;
                    text-decoration: line-through;
                    line-height: 1.2;
                    @media (max-width: @screen__xl) {
                        font-size: @font-size_5;
                    }
                    @media (max-width: @screen__sm) {
                        font-size: @font-size_6;
                    }
                }
            }
        }

        .product-add-form {
            form {
                .product-options-wrapper {
                    label.label {
                        font-size: 14px;
                        font-weight: 600;
                        margin: 0;
                    }

                    select {
                        width: auto;
                        padding-right: 35px;
                        min-width: 50%;

                        @media (max-width: @screen__sm) {
                            min-width: 100%;
                        }
                    }
                }

                .product-options-bottom {
                    margin: 0;
                    .box-gotoproduct{
                        display: none;
                    }
                }
                .box-tocart {
                    border: 0;
                    padding: 0;
                    border-bottom: 1px solid #0003;
                    margin-bottom: 15px;

                    @media (max-width: @screen__sm) {
                        padding-bottom: 5px;
                    }

                    .fieldset {
                        .flex();

                        .field.qty {
                            margin-bottom: 20px;
                            padding: 0;
                            margin-right: 20px;

                            @media (max-width: @screen__sm) {
                                margin-bottom: 10px;
                                margin-right: 10px;
                            }

                            .control {
                                border: 1px solid @color-3;
                                border-radius: 4px;
                                width: 120px;

                                input {
                                    background-color: @color-6;
                                    height: auto;
                                    padding: 11px;
                                    width: 68px;

                                    @media (max-width: @screen__sm) {
                                        padding: 7px 6px;
                                        font-size: 14px;
                                        height: 38px;
                                    }
                                }

                                div#qty-error {
                                    position: absolute;
                                    font-size: 11px;
                                    line-height: 1.2;
                                    bottom: -16px;
                                    min-width: 250px;
                                    left: 0;
                                }
                            }
                            .qty-changer a {
                                border: 0;
                                border-radius: 0;
                                background: @color-6;
                                height: auto;
                                padding: 16px 5px;
                                top: 7px;

                                @media (max-width: @screen__sm) {
                                    padding: 15px 5px;
                                    top: 4px;
                                }

                                &.qty-inc {
                                    border-left: 1px solid @color-3_light;
                                }

                                &.qty-dec {
                                    border-right: 1px solid @color-3_light;
                                }
                            }
                        }

                        .actions {
                            margin-bottom: 20px;
                            margin-right: 20px;

                            @media (max-width: @screen__sm) {
                                margin-bottom: 10px;
                                margin-right: 10px;
                            }

                            .action.tocart {
                                padding: 12px 20px;
                                letter-spacing: 0.5px;
                                font-weight: 600;
                                font-size: @font-size_6;
                                line-height: 1.2;
                                .flex();
                                .align-items(center);
                                .justify-content(center);
                                text-transform: none;

                                @media (max-width: @screen__sm) {
                                    padding: 10px 15px;
                                    letter-spacing: 0;
                                    font-size: 13px;
                                    text-transform: uppercase;
                                }

                                &::before{
                                    content: "";
                                    background-image: url(../images/cart-product.svg);
                                    width: 21px;
                                    height: 21px;
                                    margin-right: 14px;
                                    filter: brightness(0) invert(1);
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                    @media (max-width: @screen__sm){
                                        width: 18px;
                                        height: 18px;
                                        margin-right: 8px;
                                    }
                                }

                                &:hover{
                                    background: @color-6;
                                    color: @color-1;
                                    border: 1px solid  @color-1;
                                    &::before{
                                        filter: none;
                                    }
                                }
                            }
                        }

                        .moved-add-to-links {
                            // display: block;
                            // width: 100%;

                            @media (max-width: @screen__sm) {
                                width: auto;
                                display: inline-block;
                            }

                            a.action {
                                margin: 0 20px 20px 0;
                                border: 1px solid @color-3;
                                border-radius: 4px;

                                @media (max-width: @screen__sm) {
                                    margin: 0 10px 10px 0;
                                    width: 40px;
                                    height: 40px;
                                    line-height: 40px;
                                }

                                &::before {
                                    display: none;
                                }

                                &.towishlist{
                                    background-image: url(../images/wishlist.svg);
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: 22px;
                                    @media (max-width: @screen__sm){
                                        background-size: 18px;
                                    }
                                    &.added{
                                        background-image: url(../images/heart-filled.svg);
                                    }
                                }

                                &.tocompare {
                                    background-image: url(../images/compare.svg);
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: 22px;

                                    &::before {
                                        display: none;
                                    }

                                    @media (max-width: @screen__sm) {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .product-options-wrapper{
            .swatch-attribute-options{
                @media (max-width: @screen__sm){
                    padding: 0 0 8px;
                }
            }
            .swatch-opt{
                margin-bottom: 10px;
                .swatch-option{
                    padding: 12px 15px;
                    border-radius: 8px;
                    outline: none;
                    box-shadow: none;

                    @media (max-width: @screen__sm) {
                        padding: 8px 12px;
                    }

                    &.selected{
                        background-color: @color-1;
                        border-color: @color-1;
                        color: @color-5;
                    }
                }
            }
        }
        .product-category {
            font-size: 18px;
            margin-bottom: 3px;
            line-height: 1.5;

            @media (max-width: @screen__md) {
                font-size: 16px;
            }
            @media (max-width: @screen__sm) {
                font-size: 14px;
            }

            span.attr-label {
                color: @color-1;
            }
        }
        a#button{
            cursor: pointer;
        }
    }

    .product.info {
        clear: both;
        order: 3;
        width: 100%;
        padding-bottom: 50px;
        padding-top: 30px;

        @media (max-width: @screen__sm) {
            border: 1px solid #0003;
            border-radius: 8px;
            padding: 12px 8px;
            margin-bottom: 30px;
            padding-top: 15px;
        }

        .data.item.title {
            padding: 0;

            @media (max-width: @screen__sm) {
                width: auto;
                display: inline-block;
                float: left;
                margin-right: 10px;
                border-color: @color-6;
                margin-bottom: 5px;
            }

            a {
                color: @color-2;
                text-transform: capitalize;
                font-size: 20px;
                font-weight: 500;

                @media (max-width: @screen__sm) {
                    font-size: 13px;
                    font-weight: 600;

                    &::after {
                        display: none;
                    }
                }
            }

            &.active,
            &:hover {
                border-color: @color-1;
                font-weight: 500;
                a {
                    color: @color-1 !important;
                }
            }
        }

        .item.content {
            border: 0;
            padding: 15px 0;

            @media (max-width: @screen__sm) {
                margin-top: 35px;
                float: right;
                margin-left: -100%;
                width: 100%;
            }

            .product.description {
                span {
                    font-size: @font-size_5  !important;

                    @media (max-width: @screen__sm) {
                        font-size: 13px !important;
                    }
                }
            }
        }
    }
}

.related-product-wrap {
    padding-bottom: 40px;
    clear: both;
    order: 2;
    width: 100%;
    .latest-product-section {
        padding: 0px 0 0;
    }
    
    .show-more {
        display: none;
        border: 1px solid @color-1;
        border-radius: 4px;
        margin: 0 auto;
        text-align: center;
        padding: 5px 15px;
        font-size: 12px;
        width: max-content;
        font-weight: 600;

        @media (max-width: @screen__sm) {
            .flex();
        }
    }

    .filterproducts {
        .product.product-item {
            @media (max-width: @screen__sm) {
                display: none;

                &.active {
                    display: block;
                }
            }
        }
    }
}



.message-success.message {
    background: @color-1;
    color: @color-5;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 30px;
    @media (max-width: @screen__sm) {
        font-size: 14px;
    }
    > * {
        &:first-child {
            &::before {
                color: @color-5;
                top: 26px;
                width: 50px;
                font-size: 20px;
            }
        }
    }

    a {
        color: @color-5;
        font-weight: 700;
        padding: 0 6px;

        &:hover {
            color: @color-5;
        }
    }
}

.products-grid.wishlist{
    .product-item{
        .price-box.price-final_price{
            .price-as-configured{
                .flex();
                margin: 0;
            }
            .price{
                margin: 0;
                font-weight: 500;
                color: @color-1;
                font-size: 18px;
                line-height: 1.2;
                margin-right: 12px;
                .flex();
                @media (max-width: @screen__xl) {
                    font-size: 14px;
                }
               
                .currecny-symbol {
                    padding-right: 2px;
                }
            }
            .old-price{
                .flex();
                .align-items(center);
                
                .price, .old-price-wrap {
                    color: @color-9_dark;
                    font-size: 16px;
                    font-weight: 500;
                    text-decoration: line-through;
                    line-height: 1.2;
                    @media (max-width: @screen__xl) {
                        font-size: 12px;
                    }
                }
            }
        }
        .tooltip.wrapper.product-item-tooltip {
            display: none;
        }
    }
}

aside.modal-popup.modal-slide._inner-scroll{
    .modal-inner-wrap {
        max-width: 1200px;
    }
    header.modal-header{
        button.action-close {
            background: @color-1;
            opacity: 1;
            color: @color-5;
            width: 30px;
            height: 30px;
            padding: 0;
            line-height: 1;
            transform: rotate(0);
            z-index: 9;
            &::after{
                top: 12px;
                left: 13px;
                transform: rotate(45deg);
                color: @color-5;
            }
            &::before{
                top: 14px;
                left: 7px;
                transform: rotate(45deg);
                color: @color-5;
            }
        }
    }
}

div#modal-content-0 {
    max-height: 80vh;
    @media (max-width: @screen__sm){
        max-height: ~"calc(100vh - 70px)";
    }
}
.modal-popup.modal-slide{
    .modal-body-content.inquiry-modal{
        padding: 20px 0 0;
        @media (max-width: @screen__sm){
            padding: 20px 25px;
        }

        .heading-inquiry{
            padding: 0 0 30px;
            h1 {
                font-size: 28px;
                font-weight: 600;
                text-align: center;
                margin: 0;
                @media (max-width: @screen__md){
                    font-size: 24px;
                }
                @media (max-width: @screen__sm){
                    font-size: 20px;
                }
            }
        }
        .product-name{
            h3 {
                margin: 0;
                @media (max-width: @screen__sm){
                    font-size: 16px;
                    margin-bottom: 15px;
                }
            }
            p {
                font-size: 16px;
                @media (max-width: @screen__md){
                    font-size: 14px;
                }
                @media (max-width: @screen__sm){
                    font-size: 12px;
                    line-height: 1.2;
                }
            }
        }
        .product-image{
            span.product-image-wrapper {
                padding-bottom: 0% !important;
                height: auto;
                .product-image-photo {
                    position: relative;
                    height: 100%;
                    @media (max-width: @screen__sm){
                        max-height: 300px;
                        object-fit: contain;
                    }
                }
            }
        }
        .inquiry-form{
            .field{
                margin-bottom: 10px;
                label.label {
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 1;
                    @media (max-width: @screen__sm){
                        font-size: 12px;
                    }
                }
            }
            button.registerbtn{
                background-color: @color-1;
                color: @color-5;
                border-radius: 8px;
                font-size: 18px;
                letter-spacing: 1px;
                @media (max-width: @screen__md){
                    font-size: 14px;
                }
            }
        }
    }
}