<?xml version="1.0"?>
<!--
/**
* @author Elsner Team
* @copyright Copyright (c) 2022 Elsner Technologies Pvt. Ltd
(https://www.elsner.com/)
* @package Elsnertech_Shipping
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Elsnertech_Wishlist" setup_version="1.0.2">
    </module>
</config>