<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="elsnertech_login" translate="label" class="elsnertech" sortOrder="100">
            <label>elsnertech</label>
        </tab>
        <section id="texinvoice" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Tex Invoice</label>
            <tab>elsnertech_login</tab>
            <resource>Elsnertech_TaxInvoice::config_texinvoice</resource>
            <group id="general" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Tax Invoice Config</label>
                <field id="email" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email</label>
                </field>
            </group>
        </section>
    </system>
</config>