<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
         <tab id="elsnertech_login" translate="label" sortOrder="1000">
            <label>Elsnertech</label>
        </tab>
        <section id="cmsConfig" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>CMS Page Config</label>
            <tab>elsnertech_login</tab>
            <resource>Elsnertech_TaxInvoice::general</resource>
            <!-- <resource>Elsnertech_TaxInvoice::config_texinvoice</resource> -->
            <group id="mainConfigTaxinvoice" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Tax Invoice Page</label>
                <field id="email" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email</label>
                </field>
                <field id="taxinvoice_image" translate="label comment" type="image" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Select Image</label>
                    <backend_model>Elsnertech\Customisation\Model\Config\Backend\Image</backend_model>
                    <base_url type="media" scope_info="1">theme</base_url>
                </field>
            </group>
        </section>
    </system>
</config>