<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Elsnertech_Flashsale::flashsale" title="Flash Sale" module="Elsnertech_Flashsale" sortOrder="60" resource="Elsnertech_Flashsale::flashsale"/>
        <add id="Elsnertech_Flashsale::flashsalegrid" title="Manage Flash Sale" module="Elsnertech_Flashsale" sortOrder="10" parent="Elsnertech_Flashsale::flashsale" action="flashsale/flashsale" resource="Elsnertech_Flashsale::flashsalegrid" />
    </menu>
</config>