<?xml version="1.0"?>
<!--
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Serializable fields converter in recurring upgrade -->
    <type name="MageWorx\AlsoBought\Setup\Recurring">
        <arguments>
            <argument name="serializableTablesData" xsi:type="array">
                <item name="mageworx_alsobought_index" xsi:type="array">
                    <item name="relations_serialized" xsi:type="string">relations_serialized</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="mageworx_alsobought_collect" xsi:type="object">MageWorx\AlsoBought\Console\Command\CollectCommand</item>
            </argument>
        </arguments>
    </type>
</config>