<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Meetanshi_SMTP::main_menu" title="SMTP" sortOrder="100">
                    <resource id="Meetanshi_SMTP::smtp" title="SMTP Configurations" translate="title" sortOrder="10"/>
                    <resource id="Meetanshi_SMTP::log" title=" Meetanshi SMTP Email Logs" translate="title" sortOrder="20"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
